@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .nav li {
    @apply px-3 py-2 text-base font-medium cursor-pointer mx-1;
  }

  .nav li.current {
    @apply border-b-2 border-blue-400 text-blue-400 uppercase;
  }

  .profile_list > div {
    @apply p-2 flex flex-col gap-1;
  }

  /* .recharts-default-legend {
    @apply  grid-cols-3 !important;
  } */
}

* {
  font-family: "Montserrat", sans-serif !important;
}

.ant-form-item-label {
  width: 200px !important;
}

.ant-table-filter-dropdown-btns .ant-btn {
  color: rgb(121, 121, 121) !important;
}

.ant-table-filter-dropdown-btns .ant-btn:hover {
  color: whitesmoke !important;
}

.ant-popover-content button {
  color: rgb(71, 71, 71);
}
